
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.clearfix::after{
    clear:both;
    content:'';
    display: table;
}

body{
    width: 80%;
    margin: auto;
}

h1, p{
    text-align: center;
    padding-top: 30px;
}

.card{
    float: left;
    width: calc(100% / 3);
    padding: 15px;
}

.profile{
    background-color: green;

}


.male-pic1{
    height: 80px;
    float:left;
}
