
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}

.clearfix::after{
    clear:both;
    content:'';
    display: table;
}

body{
    width: 60%;
    margin: auto;
}

h1{
    color: red;
    font-family: 'Open Sans', sans-serif;
}

h1, p{
    text-align: center;
    padding-top: 30px;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 0.1em;
}

p{
    padding-top: 40px;
}

.card{
    float: left;
    width: calc(100% / 3);
    padding: 25px;
    padding-top: 40px;
}

.profile{
    background-color: black;
    box-shadow: 2px 2px grey;
}


.male-pic1{
    height: 80px;
    float:left;
    padding-right:10px;
}

h2 {
    color: white;
    padding-top:7px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

h3{
    color: white;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.blue{
    color: aqua;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}


